/* Callback Form icon */
.cx-callback-container .cx-titlebar .cx-icon, .cx-callback .cx-titlebar .cx-icon{
  background-image: url('../images/icons8-Callback-30.png')
}

.cx-callback-container .cx-titlebar .cx-icon svg, .cx-callback .cx-titlebar .cx-icon svg{
  display: none
}

/* WebChat Form icon */
.cx-webchat .cx-titlebar .cx-icon{
  background-image: url('../images/icons8-Chat-30.png')
}

.cx-webchat .cx-titlebar .cx-icon svg{
  display: none
}

/* Message/Email Form icon */
.control-cx-send-message .cx-titlebar .cx-icon, .cx-send-message .cx-titlebar .cx-icon{
  background-image: url('../images/icons8-Message-30.png')
}

.control-cx-send-message .cx-titlebar .cx-icon svg, .cx-send-message .cx-titlebar .cx-icon svg{
  display: none
}

/* WebChat side button icon */
.cx-webchat-chat-button .cx-icon{
  background-image: url('../images/icons8-Chat-30.png')
}

.cx-webchat-chat-button .cx-icon svg{
  display: none
}

/* Message/Email side button icon */
.cx-send-message-button .cx-icon{
  background-image: url('../images/icons8-Message-30.png')
}

.cx-send-message-button .cx-icon svg{
  display: none
}
